body {
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;

  color: #000000;
  text-transform: uppercase;
  height: 773px;

  /*background-image: url( "../img/sedona-index.jpg" );
  background-repeat: no-repeat;
  background-position:  center 0;
  background-repeat: no-repeat;
  background-size:  1280px auto;
  opacity: 0.6;
*/
}

.main-header-logo {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-info,
.main-photovideo,
.main-map,
.main-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info {
  padding-left: 72px;
  padding-right: 74px;
}

.main-photovideo {
  padding-left: 73px;
  padding-right: 68px;
}

.main-header-logo {
  padding-left: 51px;
  padding-right: 53px;
}

.main-map {
  padding-left: 76px;
  padding-right: 73px;
}

.main-catalog {
  padding-left: 88px;
  padding-right: 72px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  min-width: 98px;
  height: 56px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: #766357;
}

.search-list {
  list-style: none;
}

.welcome-poster {
  display: block;
  margin: 0 auto;
  width: 459px;
  height: 353px;
  padding-top: 76px;
}

.welcome {
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-color: #bdbbbc;
  background-position: center bottom, center 36%;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 506px;
  margin: auto;
}

.beautiful-sedona,
.beautiful-canyon,
.attraction-lists {
  display: flex;
}

.description {
  display: block;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: #ffffff;
}

.description-bold {
  margin: auto;
  padding-top: 61px;
  width: 440px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.description-regular {
  margin: auto;
  padding-top: 32px;
  padding-bottom: 50px;
  width: 489px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  color: #333333;
}

.attraction-city {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 400px;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  line-height: 21px;
  background-color: #81b3d2;

}

.true-city {
  margin: auto;
  margin-top: 46px;
  font-weight: bold;
  width: 151px;
  text-align: center;
}

.index {
  font-size: 14px;
}

.attraction-description {
  margin: auto;
  font-size: 14px;
  width: 303px;
  margin-bottom: 60px;
}

.attraction-square,
.attraction-road,
.attraction-tourists {
  margin: auto;
  font-size: 14px;
  width: 303px;
  margin-top: 21px;
  margin-bottom: 59px;
}

.attraction-square {
  width: 208px;
}

.attraction-road {
  width: 262px;
}

.attraction-tourists {
  width: 247px;
}

.index-list {
  font-size: 14px;
  margin-top: 26px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  width: 1200px;
  text-align: center;

  margin: 0px;
}

.advantages-items {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 81px;
  justify-content: space-between;
 }

.advantages-items li {
  position: relative;
}

.advantages-items li:before {
  content: "";

  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;
  transform: translatex(-50%);
  background-size: cover;
}

.advantages-items li:first-child::before {
  background-image: url("../img/house.svg");
} 

.advantages-itemsli:nth-child(2)::before {
  background-image: url("../img/food.svg");
} 

.advantages-items li:last-child::before {
  background-image: url("../img/souvenir.svg");
} 

.bonus-house {
  margin-top: 96px;
}

.bonus-food {
  margin-top: 97px;
}

.bonus-souvenir {
  margin-top: 96px;
}

.bonus-food,
.bonus-house,
.bonus-souvenir {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;

}

.house {
  margin-top: 59px;
}

.food {
  margin-top: 59px;
}

.souvenir {
  margin-top: 55px;
}

.description-bonus.bonus-house,
.description-bonus.bonus-food,
.description-bonus.bonus-souvenir {
  margin: auto;
}

.description-bonus.bonus-house {
  width: 252px;
  margin-top: 24px;
}

.description-bonus.bonus-food {
  width: 286px;
  margin-top: 24px;
}

.description-bonus.bonus-souvenir {
  width: 273px;
  margin-top: 23px;
}

.house,
.food,
.souvenir {
  width: 400px;
  text-align: center;
}

.description-bonus {
  margin: 0px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.attraction {
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0px;
  text-align: center;

}

.search {
  display: block;
  margin: auto;
  background-color: #ffffff;
}

.search-form {
  display: none;
}

.search-form-show {
  display: flex;
}

.search-interest {
  padding-top: 51px;
  padding-bottom: 24px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  color: #000000;
}

.search-data {
  margin: 0;
  padding-bottom: 47px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #333333;
}


.button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  width: 568px;
  height: 86px;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;

}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.data-style input {
  color: #000000;
  background-color: #f2f2f2;
}

.data-style input:hover {
  background-color: #ebebeb;
}

.data-style input:focus {
  background-color: #ffffff;
}

.search-form {
  color: rgba(0, 1, 1, 0.15);
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);

}

input {
  background-color: #f2f2f2;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

li.date-arrival {
  width: 91px;
  height: 12px;
  margin-right: 21px;
}

li.date-departure {
  display: flex;
  padding-top: 69px;
  padding-left: 55px;
  padding-bottom: 55px;
  padding-right: 21px;
}

li.data-style-arrival {
  position: relative;
  padding-left: 56px;
  padding-top: 53px;
}

li.data-style-departure {
  position: relative;
  padding-left: 56px;
  padding-top: 28px;
}

.date-arrival,
.date-departure {
  width: 333px;
  height: 38px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border: none;
  padding-left: 13px;
  line-height: 26px;
  text-align: left;
}

.date-arrival {
  margin-left: 19px;
}

.date-departure {
  margin-left: 15px;
}

.calendar-arrival {
  position: absolute;
  top: 64px;
  right: 9px;
}

.calendar-departure {
  position: absolute;
  top: 37px;
  right: 9px;
}

.calendar {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 21px;
  height: 22px;
  fill: #a9a9a9;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar svg:active {
  fill: #81b3d2;
}

li.people-style {
  display: flex;
  padding-top: 30px;
  padding-left: 53px;
  align-items: center;
}

.adults {
  padding-right: 41px;
}

.children {
  padding-right: 27px;

}

.search-button {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  margin-top: 53px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  min-width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;

}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.minus {
  padding: 0;
  margin: 0;
  line-height: 1px;
  width: 38px;
  height: 38px;
  font-size: 12px;
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.minus:hover,
.minus:focus {
  color: #000000;
}

.minus:active {
  color: #81b3d2;
}

.minus.minus-mark {
  min-width: 12px;
  min-height: 3px;
  color: #cacaca;
}

.number {
  padding: 0;
  width: 38px;
  height: 38px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.plus {
  padding: 0;
  margin: 0;
  line-height: 1px;
  width: 38px;
  height: 38px;
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.plus:hover,
.plus:focus {
  color: #000000;
}

.plus:active {
  color: #81b3d2;
}

.map {
  background-image: url("../img/map.jpg");
  background-color: #bdbbbc;
  background-position: center 1%;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 473px;
  margin: auto;
}

.main-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 36px;

}

.footer-social {
  margin-left: 34px;
  margin-top: -10px;
}

.footer-hashtag {
  margin-left: 132px;
  margin-top: 11px;
  padding: 0;
}

.hashtag {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  fill: #ffffff;
  margin: 0 auto;
  margin-right: 6px;

}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

}

.footer-copyright {
  display: flex;
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: flex-end;
  color: #000000;
  align-items: center;
  margin-right: 100px;
  margin-top: -11px;
}

.author {
  min-width: 74px;
  min-height: 11px;
  font-size: 14px;
  padding-right: 8px;

}

.copyright {
  display: flex;
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.copyright svg:hover,
.copyright svg:focus {
  fill: #81b3d2;
}

.copyright svg:active {
  fill: #bdbbbc;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: #bdbbbc;
  background-position: center 55%;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 217px;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.infrastructure-list {
  font-weight: bold;
}

.show {
  font-size: 14px;
  background-color: none;
  color: #ffffff;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: normal;
  text-align: center;
  min-width: 133px;
  height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  text-decoration: none;

}

.range {
-webkit-appearance: none;
 width:317px;
 height: 2px;
}
.range::-moz-range-track{
  -webkit-appearance: none;
  background-color: #ebebeb;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.start {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}
.finish {
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.pool,
.parcing,
.wi-fi {
  font-weight: normal;
}

li.pool,
li.hotel,
li.motel,
li.apartments {
  list-style-image: url("../img/checkbox-on.svg");
  color: #ffffff;
}

li.parcing,
li.wi-fi {
  list-style-image: url("../img/checkbox-off.svg");
}

li.pool:hover,
li.hotel:hover,
li.motel:hover,
li.apartments:hover,
li.parcing:hover,
li.wi-fi:hover,
li.pool:focus,
li.hotel:focus,
li.motel:focus,
li.apartments:focus,
li.parcing:focus,
li.wi-fi:focus {
  fill: #ffffff;
}

li.pool:invalid,
li.hotel:invalid,
li.motel:invalid,
li.apartments:invalid,
li.parcing:invalid,
li.wi-fi:invalid {
  fill: #6a6a6a;
}

.results-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.found {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  margin-left: 72px;
  margin-top: 31px;
  margin-bottom: 33px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

.sorting-type {
  color: #000000;
  margin-left: 49px;
}

.byprice {
  margin-left: 40px;
  color: #81b3d2;
}

.bytype {
  margin-left: 33px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.byrating {
  margin-left: 33px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bytype:hover,
.byrating:hover,
.bytype:focus,
.byrating:focus {
  color: #81b3d2;
  border-bottom: 1px solid #81b3d2;
}

.bytype:active,
.byrating:active {
  color: #000000;
  border-bottom: none;
}


.triangle-up {
  fill: #cacaca;
  margin-left: 500px;
  padding-right: 12px;
}

.triangle-up:hover,
.triangle-down:hover,
.triangle-up:focus,
.triangle-down:focus {
  fill: #000000;
}

.triangle-up:active,
.triangle-down:active {
  fill: #81b3d2;
}

.triangle-down {
  fill: #81b3d2;
  margin-right: 73px;
}

.hotels-found {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 30px;
  padding-bottom: 29px;
}

.hotels-found-content {
  margin: 0;
  padding: 0;
  height: 90px;
}

.hotel-description {
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
  margin-top: -6px;
}

.hotel-name {
  width: 210px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 26px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #ffffff;
  opacity: 0.3;
}

.hotel-type {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 18px;
  width: 116px;
}

.hotel-type,
.price-amara,
.price-desert,
.price-villas {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
}

.hotel-more {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  width: 110px;
  height: 27px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
}

.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-mark {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-content: center;
  margin-top: -10px;
}

.price-amara,
.price-desert,
.price-villas {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 18px;
}

.hotel-buttons {
  display: flex;
  margin: 0;
  margin-top: -4px;
}

.hotel-booking {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  width: 142px;
  height: 27px;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
  color: #ffffff;
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: #604e43;
  color: #ffffff;
}

.hotel-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: -5px;
}

.star {
  padding-left: 6px;
}

ul.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-content: center;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 17px;
  padding-bottom: 47px;
}

.rating {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}
