body {
  margin: 0 auto;
  width: 1200px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  height: 773px;
}

.main-header-logo {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-info,
.main-photovideo,
.main-map,
.main-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-info {
  padding-left: 72px;
  padding-right: 74px;
}

.main-photovideo {
  padding-left: 73px;
  padding-right: 68px;
}

.main-header-logo {
  padding-left: 51px;
  padding-right: 53px;
}

.main-map {
  padding-left: 76px;
  padding-right: 73px;
}

.main-catalog {
  padding-left: 88px;
  padding-right: 72px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 98px;
  height: 56px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation-current a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: #766357;
}

.search-list {
  list-style: none;
}

.welcome-poster {
  display: block;
  margin: 0 auto;
  width: 459px;
  height: 353px;
  padding-top: 76px;
}

.welcome {
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-color: #bdbbbc;
  background-position: center bottom, center 28%;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 501px;
  margin: auto;
}

.description {
  display: block;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: #ffffff;
}

.description-bold {
  margin: auto;
  padding-top: 61px;
  width: 440px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
}

.description-regular {
  margin: auto;
  padding-top: 38px;
  padding-bottom: 56px;
  width: 489px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.86;
  color: #333333;
}

.search {
  display: block;
  margin: auto;
  background-color: #ffffff;
}

.search-interest {
  padding-top: 57px;
  padding-bottom: 20px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 36px;
  color: #000000;
}

.search-data {
  margin: 0;
  padding-bottom: 52px;
  font-weight: regular;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  color: #333333;
}


.button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  width: 568px;
  height: 86px;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;

}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.data-style input {
  color: #000000;
  background-color: #f2f2f2;
}

.data-style input:hover {
  background-color: #ebebeb;
}

.data-style input:focus {
  background-color: #ffffff;
}

.search-form {
  background-color: rgba(0, 1, 1, 0.15);
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
}

.search-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

li.date-arrival {
  width: 91px;
  height: 12px;
  margin-right: 21px;
}

li.date-departure {
  display: flex;
  padding-top: 69px;
  padding-left: 55px;
  padding-bottom: 55px;
  padding-right: 21px;
}

li.data-style-arrival {
  position: relative;
  padding-left: 55px;
  padding-top: 55px;
}

li.data-style-departure {
  position: relative;
  padding-left: 55px;
  padding-top: 29px;
}

.date-arrival,
.date-departure {
  width: 346px;
  height: 38px;
  font-size: 14px;
}

.date-arrival {
  margin-left: 21px;
}

.date-departure {
  margin-left: 17px;
}

.calendar-arrival {
  position: absolute;
  top: 64px;
  right: 9px;
}

.calendar-departure {
  position: absolute;
  top: 37px;
  right: 9px;
}

.calendar {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 21px;
  height: 22px;
  fill: #a9a9a9;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar svg:active {
  fill: #81b3d2;
}

li.people-style {
  display: flex;
  padding-top: 30px;
  padding-left: 55px;
}

.adults {
  display: flex;
  padding-right: 41px;
}

.children {
  padding-right: 27px;

}

.search-button {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  margin-top: 54px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  min-width: 458px;
  height: 58px;
  background-color: #81b3d2;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;

}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.minus {
  padding: 0;
  margin: 0;
  line-height: 1px;
  width: 38px;
  height: 38px;
  font-size: 12px;
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.minus:hover,
.minus:focus {
  color: #000000;
}

.minus:active {
  color: #81b3d2;
}

.minus.minus-mark {
  min-width: 12px;
  min-height: 3px;
  color: #cacaca;
}

.number {
  padding: 0;
  width: 38px;
  height: 38px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.plus {
  padding: 0;
  margin: 0;
  line-height: 1px;
  width: 38px;
  height: 38px;
  color: #cacaca;
  background-color: #f2f2f2;
  border: none;
}

.plus:hover,
.plus:focus {
  color: #000000;
}

.plus:active {
  color: #81b3d2;
}

.main-footer {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;

}

.footer-social {
  margin-left: 290px;
  margin-right: 228px;
}

.footer-hashtag {
  margin: 0;
  padding: 0;
}

.hashtag {
  display: flex;
  margin: 0;
  justify-content: flex-start;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.social-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  fill: #ffffff;
  margin: 0 auto;

}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

}

.footer-copyright {
  display: flex;
  margin: 0;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: flex-end;
  color: #000000;
  align-items: center;
}

.author {
  min-width: 74px;
  min-height: 11px;
  font-size: 14px;
  padding-right: 8px;

}

.copyright {
  display: flex;
  width: 115px;
  height: 41px;
  fill: #231f20;
}

.copyright svg:hover,
.copyright svg:focus {
  fill: #81b3d2;
}

.copyright svg:active {
  fill: #bdbbbc;
}

.hotels-found {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list {
  display: flex;
  padding-left: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 1056px;
}

.hotels-found-content {
  margin: 0;
  padding: 0;
  height: 90px;
}

.hotel-description {
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 30px;
}

.hotel-name {
  width: 210px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #ffffff;
  opacity: 0.3;
}

.hotel-type {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 18px;
  width: 116px;
}

.hotel-type,
.price-amara,
.price-desert,
.price-villas {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
}

.hotel-more {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  width: 110px;
  height: 27px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
}

.hotel-more:hover,
.hotel-more:focus {
  background-color: #669ec0;
  color: #ffffff;
}

.hotel-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-mark {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-content: center;
}

.price-amara,
.price-desert,
.price-villas {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 18px;
}

.hotel-buttons {
  display: flex;
  margin: 0;
}

.hotel-booking {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 21px;
  letter-spacing: normal;
  text-align: center;
  width: 142px;
  height: 27px;
  text-transform: uppercase;
  border: none;
  background-color: #766357;
  color: #ffffff;
}

.hotel-booking:hover,
.hotel-booking:focus {
  background-color: #604e43;
  color: #ffffff;
}

.hotel-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
}

ul.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-content: center;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 17px;
  padding-bottom: 47px;
}

.rating {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
}
